<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
    <div class="col-md-8">

        <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
        </h1>

        <section v-if="errored">
		    <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
		</section>
        <section v-else>
	        <!-- Blog Posts -->
	        <p class="mb-0" v-if="posts.length === 0">
	            You have not created any posts.
	        </p>

	        <div class="card mb-4" v-for="post in posts" v-if="posts.length > 0">
	            <div class="card-body">
	                <h2 class="card-title">{{ post.title }}</h2>
	                <p class="card-text">{{ post.body }}</p>
	                <a :href="'/post/' + post.id" class="btn btn-primary">Read More &rarr;</a>
	            </div>
	            <div class="card-footer text-muted">
	                Posted on {{ post.written_at }} by
	                <a href="#">{{ post.author.name}}</a>
	            </div>
	        </div>
       	</section>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                posts: [],
                errored: false
            };
        },

        /**
         * Prepare the component (Vue 1.x).
         */
        // ready() {
        //     this.prepareComponent();
        // },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },

        methods: {
            /**
             * Prepare the component.
             */
            prepareComponent() {
                this.getPosts();
            },

            /**
             * Get all of the OAuth clients for the user.
             */
            getPosts() {
                axios.get('/api/post')
                        .then(response => {
                            this.posts = response.data.data;
                        })
                        .catch(error => {
					        console.log(error)
					        this.errored = true
					      });
            }   
        }
    }
</script>
